<div>
    <div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>タイトル</th>
                    </tr>
                </thead>
                <tbody>
                    <% @questions.each do |question| %>
                    <tr>
                        <td><%= question.question %></td>
                    </tr> 
                    <% end %>
                    <tr><td colspan="6"><a href="/questions/new">新しいtodo</a></td></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

